<div class="col-xs-12 page" style="background-image:url('img/bg2.jpg'); background-repeat: no-repeat; background-size: cover;">
	<loading></loading>
	<div class="page-header">
		<a href="" ng-click="showPage('/home')" class="btn-pull-left"><i class="fa fa-arrow-circle-left"></i></a>
		<h3 style="margin:0px; text-align:center"></h3>
		<a href="" ng-click="showPage('/home')" class="btn-pull-right"><i class="fa fa-home"></i></a>
	</div>
	<div class="col-xs-12 msg">
		<div class="col-xs-6 p-box">
			<div style="width: 100%; height: 150px;background-image: url({{data.user_image}});background-size: cover;background-position: 50% 50%;background-repeat: no-repeat;"><img ng-src=""></div>
			<div><p>{{data.name}} ({{data.gender}})</p></div>
			<div><span class="pull-left">1.4 miles</span>
				<span ng-repeat="c in conn" ng-if="c.name == data.name" class="pull-right"><span ng-if="c.status"><img ng-src="img/icon_green_dot.png" width="15" height="15"></span></span>
			</div>
		</div>
	</div>	
</div>
