<div class="col-xs-12 page" style="background-image:url('img/bg3.jpg'); background-repeat: no-repeat; background-size: cover;">
	<loading></loading>
	<div class="page-header">
		<a href="" ng-click="showPage('/home')" class="btn-pull-left"><i class="fa fa-arrow-circle-left"></i></a>
		<h4 style="margin:0px; text-align:center"></h4>
	</div>
	<div class="col-xs-12" style="">
		<h3 style="color:#fff">You have already created a profile. Please buy to create a new profile.</h3>
		<iframe id="creditCardframe" style="width:100%; padding:0px; border:none; height:460px; border-radius:4px" src="">
		
		</iframe>
	</div>
</div>