<div class="col-xs-12 page" style="background-image:url('img/bg3.jpg'); background-repeat: no-repeat; background-size: cover;">
	<loading></loading>
	<div class="page-header">
		<a href="" ng-click="showPage('/profile')" class="btn-pull-left"><i class="fa fa-arrow-circle-left"></i></a>
		<h3 style="margin:0px; text-align:center"></h3>
		<a href="" ng-click="showPage('/home')" class="btn-pull-right"><i class="fa fa-home"></i></a>
	</div>
	<div class="col-xs-12" style="padding-top:10%;">
		<form class="form" ng-submit="submit()">
			<div class="form-group">
				<span><i class="fa fa-at"></i></span>
				<input type="email" class="form-control" name="username" ng-model="username" placeholder="E-mail address" required/>
			</div>
			<div class="form-group">
				<span><i class="fa fa-key"></i></span>
				<input type="password" class="form-control" name="password" ng-model="password" placeholder="Password" required/>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default submit-btn" name="submit" value="Login"/>
			</div>
		</form>
	</div>
	<div class="col-xs-6">
		<a class="new-user" href="" ng-click="showPage('/register')">New User?</a>
	</div>
	<div class="col-xs-6">
		<a href="" class="new-user pull-right" ng-click="showPage('/recover')">Forgot Password</a>
	</div>
</div>