<div class="col-xs-12 page" style="background-image:url('img/bg2.jpg'); background-repeat: no-repeat; background-size: cover;">
	<loading></loading>
	<div class="page-header">
		<a href="" ng-click="showPage('/home')" class="btn-pull-left"><i class="fa fa-arrow-circle-left"></i></a>
		<h3 style="margin:0px; text-align:center"></h3>
		<a href="" ng-click="showPage('/home')" class="btn-pull-right"><i class="fa fa-home"></i></a>
	</div>
	<div class="col-xs-12" style="padding-top:20px;">
		<button class="btn btn-default transparent" ng-click="showPage('/newMessage')">
			<i class="fa fa-plus"></i>
			<br/><span>New Conversation</span>
		</button>
	</div>
	<div class="col-xs-12" style="padding-top:20px;">
		<button class="btn btn-default transparent" ng-click="showPage('/userList')">
			<i class="fa fa-ban"></i>
			<br/><span>Block User</span>
		</button>
	</div>
	<div class="col-xs-12" style="padding-top:20px;">
		<button class="btn btn-default transparent" ng-click="showPage('/privatePhotos')">
			<i class="fa fa-camera"></i>
			<br/><span>Private Photos</span>
		</button>
	</div>
</div>
