<div class="col-xs-12 page" style="background-image:url('img/bg2.jpg'); background-repeat: no-repeat; background-size: cover;">
	<loading></loading>
	<div class="page-header">
		<a href="" ng-click="showPage('/home')" class="btn-pull-left"><i class="fa fa-arrow-circle-left"></i></a>
		<h3 style="margin:0px; text-align:center"></h3>
		<a href="" ng-click="showPage('/home')" class="btn-pull-right"><i class="fa fa-home"></i></a>
	</div>
	<div class="col-xs-12 p-box" style="color:#fff;">
		 {{data}}
		 <!-- CHAT MARKUP -->
		<div class="example-chat l-demo-container">
		  <header>Chat Box</header>
			
			<div class='example-chat-toolbar'>
			<input type='hidden' id='nameInput' value={{name}} >
		  </div>
  
		   <ul id='example-messages' class="example-chat-messages"></ul>

		  <footer>
			<input type='text' id='messageInput' class="form-control" placeholder='Type a message...'>
		  </footer>
		</div>

	</div>
</div>