<div class="col-xs-12 page" style="background-image:url('img/bg2.jpg'); background-repeat: no-repeat; background-size: cover;">
	<loading></loading>
	<div class="page-header">
		<a href="" ng-click="showPage('/home')" class="btn-pull-left"><i class="fa fa-arrow-circle-left"></i></a>
		<h3 style="margin:0px; text-align:center"></h3>
		<a href="" ng-click="showPage('/home')" class="btn-pull-right"><i class="fa fa-home"></i></a>
	</div>
	<div class="col-xs-12">
		<div class="p-box">
			<form class="form" ng-submit="submit()" enctype="multipart/form-data">
				<p><strong>Note: </strong>You can upload 2 Private and 3 Public Photos</p>
					<div class="upload-buttons" style="margin-bottom:5px;">
						<div class="up-buttons">
							<div ngf-select ngf-drop ng-model="files" 
								 class="container drop-box text-center" ngf-multiple="'multiple'" ngf-pattern="'image/*'" accept="'image/*'"
								 ngf-capture="'mobile'"><i class="fa fa-camera" style="font-size:40px;"></i>
							  <span ng-show="dropAvailable">Drop File or Paste Image</span>
							</div>
							<br/>
							<div class="preview center">Preview Image:</div>
							<div class="col-xs-8 col-xs-offset-2 center"><img ngf-src="!files[0].$error && files[0]" class="img-rounded img-responsive"> </div>
						</div>
					</div>
					
					<!---<div class="col-xs-12 progressBar" style="margin-top:5px;">
						<div class="col-xs-10 sel-file" ng-repeat="f in files">
							<div ng-hide="f.$error">
								
								<div class="progress">
								  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{f.progress}}%">
									<span class="sr-only">{{f.progress}}% Complete (warning)</span>
								  </div>
								</div>
							</div>
							{{f.progress}}%
						</div>
						<div class="col-xs-2"><button type="button" ng-click="files = null" ng-show="files" class="btn btn-danger btn-xs">x</button></div>
					</div>--->
				<div class="form-group" style="margin-top:5px;">
					<input type="submit" class="btn btn-default submit-btn" name="submit" value="Upload"/>
				</div>
			</form>
		</div>	

		<div class="col-xs-12">
			<div class="row tb-row">
			    <div ng-if="imgDetails.error == 'true'" class="alert alert-danger">
					{{imgDetails.message}}
				</div>
				<div ng-if="imgDetails.success == 'true'" class="alert alert-success">
					{{imgDetails.message}}
				</div>
				<div class="col-xs-6 p-box" ng-repeat="c in content">
				
					<form class="form">
					<div style="width: 100%; height: 150px;background-image: url({{c.image_url}});background-size: cover;background-position: 50% 50%;background-repeat: no-repeat;"></div>
					<label class="radio-inline">
					  <input type="radio" ng-checked="c.type == 'private'" name="private" ng-click="setPrivate(c.id)" ng-value="private"> private
					</label>
					<label class="radio-inline">
					  <input type="radio" ng-checked="c.type == 'public'" name="status" ng-click="setPublic(c.id)" ng-value="public"> public
					</label>
					<label class="radio-inline">
					  <input type="radio" ng-checked="c.is_profile == 'yes'" ng-model="profile" name="profile" ng-click="setPictureProfile(c.id)"> profile
					</label>
					<input type="button" class="btn btn-default submit-btn" ng-click="del(c.id)" value="Delete"/>
					</form>
				</div>
			</div>
			
		</div>
	</div>	
</div>
