<div class="col-xs-12 page" style="background-image:url('img/bg3.jpg'); background-repeat: no-repeat; background-size: cover;">
	<loading></loading>
	<div class="page-header">
		<a href="" ng-click="showPage('/profile')" class="btn-pull-left"><i class="fa fa-arrow-circle-left"></i></a>
		<h3 style="margin:0px; text-align:center"></h3>
		<a href="" ng-click="showPage('/home')" class="btn-pull-right"><i class="fa fa-home"></i></a>
	</div>
	<div class="col-xs-12">
		<form class="form" ng-submit="submit()">
			<div class="form-group">
				<span><i class="fa fa-user"></i></span>
				<input type="text" class="form-control" name="name" ng-model="name" placeholder="Name" required/>
			</div>
			<div class="form-group">
				<span><i>A</i></span>
				<input type="text" class="form-control" name="age" ng-model="age" placeholder="Age" required/>
			</div>
			<div class="form-group">
				<span><i class="fa fa-at"></i></span>
				<input type="text" class="form-control" name="email" ng-model="email" placeholder="E-mail address" required/>
			</div>
			<div class="form-group">
				<span><i class="fa fa-key"></i></span>
				<input type="text" class="form-control" name="password" ng-model="password" placeholder="Password" required/>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				Male
			  </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				Female
			  </label>
			</div>
			<div class="radio">
			  <label>
				Transgender
				<div class="radio">
			  <label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				MTF
			  </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				FTM
			  </label>
			</div>
			  </label>
			</div>
			
			<div class="form-group">
				<span><i class="fa fa-heart"></i></span>
				<input type="text" class="form-control" name="couple" ng-model="couple" placeholder="Couple" required/>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default submit-btn" name="submit" value="Sign Up"/>
			</div>
		</form>
	</div>
	
</div>