<div class="col-xs-12 page" style="background-image:url('img/bg2.jpg'); background-repeat: no-repeat; background-size: cover;">
	<loading></loading>
	<div class="page-header">
		<a href="" ng-click="showPage('/home')" class="btn-pull-left"><i class="fa fa-arrow-circle-left"></i></a>
		<h3 style="margin:0px; text-align:center"></h3>
		<a href="" ng-click="showPage('/home')" class="btn-pull-right"><i class="fa fa-home"></i></a>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-12 p-box" style="margin-top:10px;">
			<span><img src="img/bg1.jpg" class="avatar"/></span>
				<span><strong>John</strong></span>
				<span class="pull-right">7/27/2015</span>
				<p style="margin:10px 0px 0px 0px">test</p>
		</div>
		<div class="col-xs-12 p-box" style="margin-top:10px;">text</div>
	</div>
</div>