<div class="col-xs-12 page" style="background-image:url('img/bg3.jpg'); background-repeat: no-repeat; background-size: cover;">
	<loading></loading>
	<div class="page-header">
		<a href="" ng-click="showPage('/login')" class="btn-pull-left"><i class="fa fa-arrow-circle-left"></i></a>
		<h3 style="margin:0px; text-align:center"></h3>
	</div>
	<div class="col-xs-12" style="padding-top:10%;">
		<div ng-if="userDetails.error == 'true'" class="alert alert-danger">
			{{userDetails.message}}
		</div>
		<div ng-if="userDetails.success == 'true'" class="alert alert-success">
			{{userDetails.message}}
		</div>
		<form class="form p-box" ng-submit="submit()">
			<div class="form-group">
				<label>Please check your mail for verification code</label>
			</div>
			<div class="form-group">
				<span><i class="fa fa-at"></i></span>
				<input type="text" class="form-control" name="token" ng-model="token" placeholder="Enter your verification code here..."/>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default submit-btn" name="submit" value="Send"/>
			</div>
		</form>
	</div>
</div>